[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gennadiy Dubina (hamsterksu)
[access "refs/for/refs/*"]
	read = group user/Gennadiy Dubina (hamsterksu)
	push = group user/Gennadiy Dubina (hamsterksu)
	label-Code-Review = -2..+2 group user/Gennadiy Dubina (hamsterksu)
	label-Verified = -1..+1 group user/Gennadiy Dubina (hamsterksu)
	rebase = group user/Gennadiy Dubina (hamsterksu)
	removeReviewer = group user/Gennadiy Dubina (hamsterksu)
	submit = group user/Gennadiy Dubina (hamsterksu)
[access "refs/heads/*"]
	read = group user/Gennadiy Dubina (hamsterksu)
	create = group user/Gennadiy Dubina (hamsterksu)
	push = +force group user/Gennadiy Dubina (hamsterksu)
	pushMerge = group user/Gennadiy Dubina (hamsterksu)
[access "refs/tags/*"]
	push = +force group user/Gennadiy Dubina (hamsterksu)
	pushTag = group user/Gennadiy Dubina (hamsterksu)
	pushSignedTag = group user/Gennadiy Dubina (hamsterksu)
